
.dtladmintrainer {
    text-align: center;
}


.divtrainerListSub {
    background: #f5f5ff;
    padding: 1rem;
    border-radius: 15px;
    transition: .3s;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.divtrainerListSub {
    background: #f5f5ff;
    padding: 1rem;
    border-radius: 15px;
    transition: .3s;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    /*padding-right: 2rem;*/
}

.PageHeaderadmin {
    margin-bottom: 2.2rem;
}

.trainerattendance{
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
}

.trainerreassign {
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    background-color: #ffffff;
}